/*Criando o topo do site*/

#topo{
    width: 100%;
    height: 120px;
    border: 1px solid green;
    background-color: #be16a2;
    color: #ffffff;
    text-transform: uppercase;
}

#logo{
   margin-left: 50px;
   margin-top: 15px;
   font-size: 25px;
}

nav{

   position: absolute;
   top:45px;
   left:400px;
}
nav img{
    width:51px;
    height:51px;
}

/*Exemplo de CSS Externo*/

body{
        background-color: white;
}


/*filho*/
ul li{
    display:inline;
    padding-left: 80px; 
    width: 50px;
    height: 50;

 }

/*neto*/
ul li a{
    text-decoration: none;
    color: black;


 }

 ul li a:hover{
    color: white;
    
 }

 main{
   width:100%;
   height: 600px;
   border:2px solid #be16a2;
}

#rodape{
   position: absolute;
   bottom: 0%;
   font-size: 12px;
   right: 50%;
}

#busca{
   text-align: right;
}

img{
   display: block;
   margin: 0px auto;
}